.language-editor {
    margin: 10px;
}

    .language-editor td {
        padding: 0 5px;
        white-space: nowrap;
    }

    .language-editor th {
        text-align: center;
    }

    .language-editor table {
        margin-bottom: 2em;
    }

.language-editor .heading-row {
    padding-top: 1em;
}

.language-editor .value-modified {
    background-color: lightgoldenrodyellow;
}

.language-editor .value-new {
    background-color: lightgreen;
}

.language-editor .translations-row input[type=text] {
    width: 200px;
}

.language-editor .hidden {
    display: none;
}

.language-editor .image-button {
    padding: 1px;
}
